* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.4rem;
}

input, textarea {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
}

button {
  border: none;
  cursor: pointer;
}

.react-datepicker__input-container input {
  cursor: pointer;
  outline: none;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.3rem;
  }
}
